<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montar Lanches</title>
    <link rel="shortcut icon" href="imagens/icon.png">
    <!-- VUE -->
    <script src="./vue.js"></script>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
           body{
            background-color: #787878;
           }
            .card-header{
                background: rgb(71,61,60);
background: linear-gradient(90deg, rgba(71,61,60,0) 0%, rgba(77,63,61,0) 20%, rgba(77,63,61,1) 100%);
            }
        </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container justify-content-center">
            <span class="navbar-brand mb-0 h1">Monte o seu lanche</span>
        </div>
    </nav>
    <div class="container">
        <div id="app">
            <div class="row mt-5">

                <div class="col-md-6"> <!-- seção img -->
                    <div class="row mt-2">
                        <div class="col">
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="mostarda">
                            <img :src="maionese">
                            <img :src="hamburguer">
                            <img :src="pao[1]">
                        </div>
                    </div>
                </div> <!-- fim seção img -->

                <div class="col-md-6" v-if="etapa == 1">
                    <!-- TIPO do pão -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    {{teste}}
                                    <button v-on:click="mudartexto">{{textobotao}}</button>
                                </div>

                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim" v-model="inputTipoPao"> <!-- v- é reponsavel pelo vue -->
                                        <label class="form-check-label">Gergelim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano" v-model="inputTipoPao">
                                        <label class="form-check-label">Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- FIM TIPO do pão -->

                    <!-- SALADA -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    SALADA
                                </div>

                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="alface" v-model="inputSalada">
                                        <label class="form-check-label">Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM SALADA -->

                    <!-- MOLHO -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    MOLHOS
                                </div>

                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup" v-model="inputMolhos">
                                        <label class="form-check-label">Ketchup</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mostarda" v-model="inputMolhos">
                                        <label class="form-check-label">Mostarda</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="maionese" v-model="inputMolhos">
                                        <label class="form-check-label">Maionese</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MOLHO -->

                    <!-- HAMBURGUER -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    TIPO DE HAMBURGUER
                                </div>

                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="bovino" v-model="inputHamburguers">
                                        <label class="form-check-label">Bovino</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="frango" v-model="inputHamburguers">
                                        <label class="form-check-label">Frango</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="vegetal" v-model="inputHamburguers">
                                        <label class="form-check-label">Vegetal</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM HAMBURGUER -->

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" v-on:click="fazerPedido">Fazer pedido</button>
                        </div>
                    </div>

                </div> <!-- fim etapa 1 -->

                <div class="col-md-6" v-if="etapa == 2">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Informe seus dados
                                </div>
                                
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">Nome</label>
                                        <input type="text" class="form-control" v-model="inputNome">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Endereço</label>
                                        <input type="text" class="form-control" v-model="inputEndereco">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" v-on:click="etapa -= 1">Voltar para o Lanche</button>
                            <button type="button" class="btn btn-success" v-on:click="confirmarPedido">Confirmar</button>
                        </div>
                    </div>
                </div> <!-- fim etapa 2 -->

                <div class="col-md-6" v-if="etapa == 3">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    PEDIDO CONFIRMADO
                                </div>

                                <div class="card-body">
                                    <p>Agora é só aguardar! Seu pedido está a caminho.</p>
                                    <p>Notificaremos você em breve</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" v-on:click="etapa = 1">Repetir Pedido</button>
                            <button type="button" class="btn btn-success" v-on:click="novoPedido">Novo Pedido</button>
                        </div>
                    </div>
                </div> <!-- fim etapa 3 -->

            </div>
        </div>
    </div>

    <!-- Instancia VUE -->
    <script>
        const vm = new Vue({
            el:'#app',
            data:{ //atributos / propriedades
                etapa:1,

                textomudou: false,

                teste:'TIPO DO PÃO',
                textobotao:'>',
                
                inputTipoPao:'',
                inputHamburguers:'',
                inputNome:'',
                inputEndereco:'',

                inputSalada:[],
                inputMolhos:[],

                novoPedidoAssincrono: null,
            },

            computed:{ //propriedades computadas / reativos
                pao(){
                    switch(this.inputTipoPao){
                        case 'gergelim':
                            return['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },
                alface(){
                    if(this.inputSalada.includes('alface')){
                        return 'imagens/alface.png'
                    }

                    return 'imagens/padrao/alface.png'
                },
                ketchup(){
                    if(this.inputMolhos.includes('ketchup')){
                        return 'imagens/ketchup.png'
                    }

                    return 'imagens/padrao/molho.png'
                },
                mostarda(){
                    if(this.inputMolhos.includes('mostarda')){
                        return 'imagens/mostarda.png'
                    }

                    return 'imagens/padrao/molho.png'
                },
                maionese(){
                    if(this.inputMolhos.includes('maionese')){
                        return 'imagens/maionese.png'
                    }

                    return 'imagens/padrao/molho.png'
                },
                hamburguer(){
                    switch(this.inputHamburguers){
                        case 'bovino':
                            return 'imagens/bovino.png'
                        case 'frango':
                            return 'imagens/frango.png'
                        case 'vegetal':
                            return 'imagens/soja.png'
                        default:
                            return 'imagens/padrao/hamburguer.png'
                    }
                },
                
            },

            methods: { //Métodos
                mudartexto: function(){
                    if(!this.textomudou){
                        this.teste = 'OS MELHORES SABORES';
                        this.textobotao = '<';
                        this.textomudou = true;
                    }
                    else{
                        this.teste = 'TIPO DO PÃO';
                        this.textobotao = '>';
                        this.textomudou = false;
                    }
                },

                fazerPedido: function(){
                    if(this.inputTipoPao == '' || this.inputHamburguers == ''){
                        alert('Selecione pelo menos um tipo de hamburguer e um pão');
                    }
                    else{
                        this.etapa = 2;
                    }
                },

                confirmarPedido: function(){
                    if(this.inputNome && this.inputTipoPao){
                        this.etapa = 3;

                        
                        this.novoPedidoAssincrono = setTimeout(() => {
                            this.novoPedido();
                        },10000);
                    }
                    else{
                        alert('Você precisa informar o seu nome e endereço');
                    }
                },

                novoPedido: function(){
                    this.etapa = 1;

                    this.textomudou = false;
                    
                    this.inputTipoPao = '';
                    this.inputHamburguers = '';
                    this.inputNome = '';
                    this.inputEndereco = '';

                    this.inputSalada = [];
                    this.inputMolhos = [];
                }
            },

            watch:{
                etapa(novoValor){
                    if(novoValor == 1){
                        clearTimeout(this.novoPedidoAssincrono);
                    }
                }
            }
        });
    </script>
</body>

</html>
